#canvas {
  display: none;
}

#montage-container {
  display: flex;
  justify-content: center;
}
#my-gallery-title {
   font-size: 30px;
   margin-top: 10px;
   margin-bottom: 0px;
}

#video {
  dispay:none;
  margin: 0 auto;
  width: 640px;
  height: 480px;
}

#uploaded_img {
  display: block;
  margin: 0 auto;
  width: 640px;
  height: 480px;
}
#enable-camera {
  display: none;
}

#disable-camera {
  display: none;
}

#montage {
  margin-right: 10px;
  width: 700px;
  height: 580px;
}

#montage button {
  padding: 10px;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  border: 1px solid grey;
  background-color: #f1f1f1;
}
#user-gallery {
  margin-left: 10px;
  width: 350px;
  height: 780px;
}

#user_pictures {
  overflow: auto;
  max-height: 720px;
}

.user_picture_div {
  margin: 20px;
  border-radius: 5px;
  background-color: rgba(40, 109, 168, 0.3);
  box-shadow: 0 0 5px 1px rgba(0,0,0,.3);
  position: relative;
}
.user_picture {
  width: 240px;
  display:block;
  padding:20px;
  margin: 0 auto;
}

.delete_button {
  width:20px;
  position: absolute;
  top: 0px;
  right: 0px;
}

.delete_button:hover {
  cursor: pointer;
}

#drag-zone {
  margin: 20px;
  width: 640px;
  height: 480px;
}
#upload-img {
  width:640px;
  height:480px;
  display: none;
  margin: 0 auto;
  margin-bottom: 10px;
  border: 1px dotted grey !important;
}
#draggable-images-container {
  display: flex;
  justify-content: space-between;
}
.draggable-images {
  position: absolute;
  z-index: 2;
}
.list-images {
  cursor: pointer;
  margin: 10px;
  width: 160px;
  height: 160px;
}

.border-block {
  margin: 0 auto;
  margin-top: 20px;
  width: 700px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px 1px rgba(0,0,0,.3);
}
